.offer {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #ffffff;
}

.offer__wrap {
    width: 320px;
    margin: 0 auto;
    padding: 100px 0 5px 0;
}

.offer__item {
    margin: 0 0 100px 0;
    padding: 0;
}

.offer__title {
    position: relative;
    margin: 0;
    padding: 0 0 232px 32px;
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    white-space: pre-line;
    text-transform: uppercase;
    color: #101010;
}

.offer__title--money::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 75px;
    z-index: 10;
    width: 156px;
    height: 110px;
    background-image: url("../img/money.svg");
    background-repeat: no-repeat;
}

.offer__title--safe::before {
    content: "";
    position: absolute;
    top: 110px;
    left: 100px;
    z-index: 10;
    width: 107px;
    height: 125px;
    background-image: url("../img/safe.svg");
    background-repeat: no-repeat;
}

.offer__title--support::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 85px;
    z-index: 10;
    width: 150px;
    height: 137px;
    background-image: url("../img/support.svg");
    background-repeat: no-repeat;
}

.offer__description {
    margin: 0 0 20px 0;
    padding: 0 0 0 32px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #101010;
}

@media (min-width: 768px) {
    .offer__wrap {
        width: 708px;
        padding: 114px 0 5px 0;
    }

    .offer__title {
        padding: 0 0 48px 32px;
        font-size: 28px;
        line-height: 40px;
    }

    .offer__title::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 500px;
    }

    .offer__description {
        font-size: 16px;
        line-height: 32px;
    }
}

@media (min-width: 1024px) {
    .offer__title--money::before {
        left: 600px;
        width: 204px;
        height: 144px;
    }

    .offer__title--money::after {
        content: "";
        position: absolute;
        top: 12px;
        left: -86px;
        z-index: 10;
        width: 18px;
        height: 40px;
        background-image: url("../img/x.svg");
        background-repeat: no-repeat;
    }

    .offer__title--safe::before {
        top: -8px;
        left: 638px;
        width: 128px;
        height: 150px;
    }

    .offer__title--safe::after {
        content: "";
        position: absolute;
        top: 10px;
        left: -86px;
        z-index: 10;
        width: 22px;
        height: 40px;
        background-image: url("../img/amper.svg");
        background-repeat: no-repeat;
    }

    .offer__title--support::before {
        top: -20px;
        left: 600px;
        width: 204px;
        height: 186px;
    }

    .offer__title--support::after {
        content: "";
        position: absolute;
        top: 10px;
        left: -86px;
        z-index: 10;
        width: 9px;
        height: 40px;
        background-image: url("../img/znak.svg");
        background-repeat: no-repeat;
    }
}

@media (min-width: 1280px) {
    .offer__wrap {
        width: 1200px;
    }

    .offer__title {
        padding: 0 0 48px 147px;
    }

    .offer__title--money::before {
        left: 950px;
    }

    .offer__title--money::after {
        left: 25px;
    }

    .offer__title--safe::before {
        left: 985px;
    }

    .offer__title--safe::after {
        left: 25px;
    }

    .offer__title--support::before {
        left: 950px;
    }

    .offer__title--support::after {
        left: 25px;
    }

    .offer__description {
        padding: 0 0 0 147px;
    }
}