.page-main {
    margin: 0;
    padding: 70px 0 0 0;
}

@media (min-width: 768px) {
    .page-main {
        margin: 0;
        padding: 100px 0 0 0;
    }
}

@media (min-width: 1280px) {
    .page-main {
        margin: 0;
        padding: 120px 0 0 0;
    }
}